body {
  font-family: 'Roboto', sans-serif !important;
}

main {
  margin-top: 4rem;
}

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;

    .sidebar-sticky {
      margin-top: 4rem;
    }
  }
}

.record-types {

  .nav-item {
    .fas, .far {
      margin-right: .3rem;
    }
  }
  .nav-link {
    color: #6c757d;

    &.active {
      font-weight: bolder;
      color: #00439e;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  line-height: 1rem;
  font-size: 0.8rem;

  span {
    color: #fff;
    margin-right: 1rem;
  }
}