/* Modal */

.modal {
  .modal-content {
    border-radius: 2px;

    .form-group {
      margin-bottom: 0rem;

      label {
        padding-bottom: 0rem;
      }
    }
  }
}

/* Inputs, buttons */

.form-control, .input-group-text, .btn {
  border-radius: 2px;
}

/* Table */

.table {
  thead.thead-dark th {
    background-color: #343a40;
    border-color: #343a40;
    border-bottom: .1rem #5c6a71 solid;

  }
  tbody tr:first-of-type td {
    padding-top: 1rem;
  }
}

/* Spacing */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .3rem;
}