<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/dist/app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


    <title>WS DNS Assignment DEMO</title>

</head>
<body>
<div id="loader" class="loader" style="display: none">Loading&#8230;</div>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">WS DNS Management DEMO</a>
</nav>

<div class="container-fluid">
    <div class="row">

        <!-- Left navigation menu -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div id="menu-sidebar" class="sidebar-sticky">

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="alerts-wrapper">
                <!-- Alerts here ! -->
            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom heading-line">
                <h2 class="h2"><span class="type-name"></span> záznamy</h2>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <button id="add-new-record" type="button" class="btn btn-primary">
                        <i class="fas fa-plus fa-sm"></i> Nový záznam
                    </button>
                </div>
            </div>

            <div id="record-list" class="col-12 col-md-12 col-xl-12">
                <!-- Table here -->
            </div>

        </main>
    </div>
</div>

<!-- Add Modal window -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <!-- Add modal content here -->
</div>

<!-- Remove submit modal window -->
<div class="modal fade" id="removeSubmitModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Potvrdenie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Naozaj si prajete tento záznam vymazať ?
            </div>
            <div class="modal-footer">
                <button id="rm-btn-no" type="button" class="btn btn-light">Zrušiť</button>
                <button id="rm-btn-yes" type="button" class="btn btn-danger">Potvrdiť</button>
            </div>
        </div>
    </div>
</div>

<footer>
        <span class="float-right">derr0r 2018</span>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="/assets/dist/app.min.js"></script>

<!-- Handlebars templates -->
<script id="left-menu-template" type="text/x-handlebars-template">
    <div class="sidebar-sticky">
        <ul class="nav flex-column record-types">
            <h5>Typy záznamov</h5>

            {{#each recordTypes}}
            <li class="nav-item" data-value="{{this}}">
                <a class="nav-link {{#ifEquals ../selected this}}active{{/ifEquals}}" href="#{{this}}">
                    <!--<i class="fas fa-folder fa-xs"></i>-->
                    {{#ifEquals ../selected this}}
                    <i class="fas fa-plus-square fa-xs"></i>
                    {{else}}
                    <i class="far fa-plus-square fa-xs"></i>
                    {{/ifEquals}}
                    {{this}}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</script>

<script id="list-template" type="text/x-handlebars-template">
    <table class="table table-sm">
        <!-- A -->
        {{#ifContain type "A,AAAA,ANAME,CNAME"}}
        <thead class="thead-dark">
        <tr>
            <th scope="col">Adresa</th>
            <th scope="col">Cieľová IP adresa</th>
            <th scope="col">TTL</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {{#each list}}
        <tr>
            <td>{{name}}.{{../domain}}</td>
            <td>{{content}}</td>
            <td>{{ttl}} sekúnd</td>
            <td class="text-right">
                <button class="btn btn-danger btn-sm remove" data-id="{{id}}"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
        {{/each}}
        {{/ifContain}}

        <!-- MX -->
        {{#ifContain type "MX"}}
        <thead class="thead-dark">
        <tr>
            <th scope="col">Adresa</th>
            <th scope="col">Mail server</th>
            <th scope="col">Priorita</th>
            <th scope="col">TTL</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {{#each list}}
        <tr>
            <td>{{../domain}}</td>
            <td>{{content}}</td>
            <td>{{prio}}</td>
            <td>{{ttl}} sekúnd</td>
            <td class="text-right">
                <button class="btn btn-danger btn-sm remove" data-id="{{id}}"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
        {{/each}}
        {{/ifContain}}

        <!-- NS -->
        {{#ifEquals type "NS"}}
        <thead class="thead-dark">
        <tr>
            <th scope="col">Adresa</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {{#each list}}
        <tr>
            <td>{{content}}</td>
            <td class="text-right">
                <button class="btn btn-danger btn-sm remove" data-id="{{id}}"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
        {{/each}}
        {{/ifEquals}}

        <!-- SRV -->
        {{#ifEquals type "SRV"}}
        <thead class="thead-dark">
        <tr>
            <th scope="col">Adresa</th>
            <th scope="col">Cieľová IP adresa</th>
            <th scope="col">Priorita</th>
            <th scope="col">Váha</th>
            <th scope="col">Port</th>
            <th scope="col">TTL</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {{#each list}}
        <tr>
            <td>{{name}}.{{../domain}}</td>
            <td>{{content}}</td>
            <td>{{prio}}</td>
            <td>{{weight}}</td>
            <td>{{port}}</td>
            <td>{{ttl}} sekúnd</td>
            <td class="text-right">
                <button class="btn btn-danger btn-sm remove" data-id="{{id}}"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
        {{/each}}
        {{/ifEquals}}

        <!-- TXT -->
        {{#ifContain type "TXT"}}
        <thead class="thead-dark">
        <tr>
            <th scope="col">Adresa</th>
            <th scope="col">Hodnota</th>
            <th scope="col">TTL</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {{#each list}}
        <tr>
            <td>{{../domain}}</td>
            <td>{{content}}</td>
            <td>{{ttl}} sekúnd</td>
            <td class="text-right">
                <button class="btn btn-danger btn-sm remove" data-id="{{id}}"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
        {{/each}}
        {{/ifContain}}

        {{#unless list}}
        <tfoot>
        <tr>
            <td colspan="4" class="text-center text-muted remove">Žiadne "{{type}}" záznamy</td>
        </tr>
        </tfoot>
        {{/unless}}

        </tbody>

    </table>
</script>

<script id="add-modal" type="text/x-handlebars-template">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nový {{type}} záznam</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Type: A-->
            {{#ifEquals type "A"}}
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" name="type" value="{{type}}" class="record-type">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Doména:</label>
                        <div class="input-group">
                            <input type="text" required class="form-control record-name">
                            <div class="input-group-append">
                                <span class="input-group-text">.{{domain}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Cieľová IP adresa:</label>
                        <input type="text" class="form-control record-value">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">TTL:</label>
                        <div class="input-group">
                            <input type="text" type="number" placeholder="napr. 600" min="60"
                                   class="form-control record-ttl">
                            <div class="input-group-append">
                                <span class="input-group-text">sekúnd</span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            {{/ifEquals}}

            <!-- Type: MX-->
            {{#ifEquals type "MX"}}
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" name="type" value="{{type}}" class="record-type">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Doména:</label>
                        <div class="input-group">
                            <input type="text" class="form-control record-name">
                            <div class="input-group-append">
                                <span class="input-group-text">.{{domain}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Mail server (hostname):</label>
                        <input type="text" class="form-control record-value">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Priorita:</label>
                        <input type="text" class="form-control record-priority">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">TTL:</label>
                        <div class="input-group">
                            <input type="text" type="number" placeholder="napr. 600" min="60"
                                   class="form-control record-ttl">
                            <div class="input-group-append">
                                <span class="input-group-text">sekúnd</span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            {{/ifEquals}}

            <!-- Type: TXT-->
            {{#ifEquals type "TXT"}}
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" name="type" value="{{type}}" class="record-type">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Doména:</label>
                        <div class="input-group">
                            <input type="text" class="form-control record-name">
                            <div class="input-group-append">
                                <span class="input-group-text">.{{domain}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Hodnota:</label>
                        <input type="text" class="form-control record-value">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">TTL:</label>
                        <div class="input-group">
                            <input type="text" type="number" placeholder="napr. 600" min="60"
                                   class="form-control record-ttl">
                            <div class="input-group-append">
                                <span class="input-group-text">sekúnd</span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            {{/ifEquals}}

            <!-- Type: ANAME-->
            {{#ifEquals type "ANAME"}}
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" name="type" value="{{type}}" class="record-type">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Doména:</label>
                        <input type="text" class="form-control record-name" value="{{domain}}" disabled>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Cieľová doména:</label>
                        <input type="text" class="form-control record-value">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">TTL:</label>
                        <div class="input-group">
                            <input type="text" type="number" placeholder="napr. 600" min="60"
                                   class="form-control record-ttl">
                            <div class="input-group-append">
                                <span class="input-group-text">sekúnd</span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            {{/ifEquals}}

            <!-- Type: CNAME-->
            {{#ifEquals type "CNAME"}}
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" name="type" value="{{type}}" class="record-type">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Doména:</label>
                        <div class="input-group">
                            <input type="text" class="form-control record-name">
                            <div class="input-group-append">
                                <span class="input-group-text">.{{domain}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Cieľová doména:</label>
                        <input type="text" class="form-control record-value">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">TTL:</label>
                        <div class="input-group">
                            <input type="text" type="number" placeholder="napr. 600" min="60"
                                   class="form-control record-ttl">
                            <div class="input-group-append">
                                <span class="input-group-text">sekúnd</span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            {{/ifEquals}}

            <!-- Type: SRV-->
            {{#ifEquals type "SRV"}}
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" name="type" value="{{type}}" class="record-type">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Doména:</label>
                        <div class="input-group">
                            <input type="text" class="form-control record-name">
                            <div class="input-group-append">
                                <span class="input-group-text">.{{domain}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Priorita:</label>
                        <input type="text" class="form-control record-priority">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Váha:</label>
                        <input type="text" class="form-control record-weight">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Port:</label>
                        <input type="text" class="form-control record-port">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Hostname služby:</label>
                        <input type="text" class="form-control record-value">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">TTL:</label>
                        <div class="input-group">
                            <input type="text" type="number" placeholder="napr. 600" min="60"
                                   class="form-control record-ttl">
                            <div class="input-group-append">
                                <span class="input-group-text">sekúnd</span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            {{/ifEquals}}

            <!-- Type: AAAA-->
            {{#ifEquals type "AAAA"}}
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" name="type" value="{{type}}" class="record-type">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Doména:</label>
                        <div class="input-group">
                            <input type="text" class="form-control record-name">
                            <div class="input-group-append">
                                <span class="input-group-text">.{{domain}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Cieľová IPv6 adresa:</label>
                        <input type="text" class="form-control record-value">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">TTL:</label>
                        <div class="input-group">
                            <input type="text" type="number" placeholder="napr. 600" min="60"
                                   class="form-control record-ttl">
                            <div class="input-group-append">
                                <span class="input-group-text">sekúnd</span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            {{/ifEquals}}

            <!-- Type: NS-->
            {{#ifEquals type "NS"}}
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" name="type" value="{{type}}" class="record-type">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Hodnota:</label>
                        <input type="text" class="form-control record-value">
                    </div>
                    <input type="hidden" class="record-name" value="@">
                </form>
            </div>
            {{/ifEquals}}

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušiť</button>
                <button type="submit" class="btn btn-primary submit">Pridať nový záznam</button>
            </div>
        </div>
    </div>
</script>

</body>
</html>